$borderColor: #D0D8DE;


$linkColor: #71B6F9;

$color_blue: #71B6F9;
$color_blue2: #54C3E5;

$color_red: #F15261;
$color_red2: #FF5B5B;

$color_green: #9BCCBF;

$color_yellow: #F9C547;

$color_gray: #4D4D4D;
$color_gray2: #5A5F5F;
$color_gray3: #666670;
$color_gray4: #797979;
$color_gray5: #808080;
$color_gray6: #B2B2B7;
$color_gray7: #B0BABF;
$color_gray8: #B7C4C9;

$user_snake: #F596AA;
$user_smart_punter: #F6C555;
$user_special: #86C166;

